[submodule "extlibs/eigen"]
	path = extlibs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = git@github.com:SFML/SFML.git
[submodule "extlibs/json"]
  path = extlibs/json
  urt = git@github.com:nlohmann/json.git
